= render 'slide_cover'
= render 'slide_1'
= render 'slide_2'
= render 'slide_3'
= render 'slide_4'
= render 'slide_5'
= render 'slide_6'
= render 'slide_7'
= render 'slide_8'
= render 'slide_9'
= render 'slide_11'
