p Exma. Sra. Presidenta Dilma Roussef e Ministros Ricardo Berzoini, Renato Janine Ribeiro e Aloizio Mercadante.

p Educação deve ser a maior prioridade na construção de um país com igualdade social, desenvolvimento e crescimento econômico. Mas é impossível se pensar em educação de qualidade sem acesso à internet nas escolas.

p Temos hoje muitas pessoas e organizações produzindo conteúdo pedagógico online de qualidade - e de graça -  mas de que adianta se o material não chega em quem mais precisa?

p Hoje, apenas 19% das escolas públicas brasileiras tem conexão superior a 2 Mbps (dados do #{link_to 'TIC Educação 2013', 'http://www.cetic.br/media/docs/publicacoes/2/tic-educacao-2013.pdf', target: :blank}). No entanto, o acesso a diversos conteúdos educativos como vídeo aulas necessitam de pelo menos 8 Mbps, o que significa que 81% das escolas não tem internet com velocidade adequada. Consideramos que 10 Mega é o mínimo para que alunos e professores se beneficiem dos recursos pedagógicos já disponíveis online.

p A distribuição da infraestrutura para acesso à internet deve ser uma política prioritária do governo federal. Conteúdo e vontade de aprender não faltam no país. Basta que o Governo Federal faça sua parte e conecte esses dois campos.

p Esperamos um compromisso público dessa Presidência em levar internet rápida para todas as escolas públicas brasileira até 2016. "Pátria Educadora" se faz com internet na escola!

p Aguardo sua resposta!

p Para responder publicamente a essa mobilização, envie uma mensagem para resposta@internetnaescola.org

p Veja nossa plataforma em #{link_to 'http://internetnaescola.org', 'http://internetnaescola.org'}
