p Exma. Sra. Presidenta Dilma Roussef,

p A educação de qualidade deve ser a maior prioridade para o Brasil. O acesso à internet rápida em todas as escolas do país é fundamental para isso.

p Existe hoje disponível online uma infinidade de materiais educacionais de alta qualidade – grande parte deles de graça – destinado a professores e alunos. Mas para que esses recursos possam ser usados por quem mais precisa é preciso ter internet rápida nas escolas.

p Nosso pedido é para que cada escola brasileira conte com 10MB de internet já em 2016 -- em vez dos 2MB previstos atualmente no programa Banda Larga nas Escolas. A experiência das escolas e vários estudos indicam que essa é a velocidade ideal para que alunos e professores consigam realmente aproveitar os recursos digitais. Como passo seguinte, o mais importante é  garantir que a fibra ótica chegue a todos os municípios do país.

p Na Pátria Educadora, a melhor internet disponível na cidade deve estar na escola! Afinal, se cafés, shoppings, aeroportos e parques já contam com internet rápida, não há razão para que o mesmo não aconteça nas escolas.

p Assim, o que peço é que a Presidência firme publicamente dois compromissos: garantir pelo menos 10MB de conexão em todas as escolas brasileiras já em 2016; e apresentar ainda este ano um plano de curto, médio e longo prazo para conectar todas as escolas do país com internet de alta velocidade.

p Aguardo sua resposta!

p Para responder publicamente a essa mobilização, envie uma mensagem para resposta@internetnaescola.org

p Veja nossa plataforma em #{link_to 'http://internetnaescola.org', 'http://internetnaescola.org'}
