p Exma. Sra. Presidenta Dilma Rousseff,

p A educação de qualidade deve ser a maior prioridade para o Brasil. O acesso à internet rápida em todas as escolas do país é fundamental para isso.

p Existe hoje disponível online uma infinidade de materiais educacionais de alta qualidade – grande parte deles de graça – destinados a professores e alunos. Mas, para que esses recursos possam ser usados por quem mais precisa, é preciso ter internet rápida nas escolas.

p Nosso pedido é para que cada escola brasileira conte com 10 MEGA de internet já em 2016 – em vez dos 2 MEGA previstos atualmente no programa Banda Larga nas Escolas. A experiência das escolas e vários estudos indicam que essa é a velocidade ideal para que alunos e professores consigam realmente aproveitar os recursos digitais. Como passo seguinte, o mais importante é garantir que a fibra óptica chegue a todos os municípios do país.

p Na Pátria Educadora, a melhor internet disponível na cidade deve estar na escola! Afinal, se cafés, shoppings, aeroportos e parques já contam com internet rápida, não há razão para que o mesmo não aconteça nas escolas.

p Assim, o que pedimos, é que a Presidência firme publicamente dois compromissos: garantir pelo menos 10 MEGA de conexão em todas as escolas brasileiras já em 2016 e apresentar ainda este ano um plano de curto, médio e longo prazo para conectar todas as escolas do país com internet de alta velocidade.

p Aguardamos sua resposta!
