= render 'email_message'

p Para responder publicamente a essa mobilização, envie uma mensagem para resposta@internetnaescola.org.

p Veja nossa plataforma em #{link_to 'http://internetnaescola.org', 'http://internetnaescola.org'}.

p #{@message.user.name}
