p Oi, tudo bem?!

p Eu sou a Liane Lira, da campanha #InternetNaEscola, e fiquei super feliz em saber que você quer puxar o Bonde da Conexão por aí.

p O Dia da Conectividade está marcado para [dia] de [mês]. E vai ser lindo! Justamente porque vai acontecer ao mesmo tempo em várias escolas do Brasil. Juntos, vamos misturar cultura, internet e diversão para espalhar a nossa mensagem por tudo quanto é canto.

p Mas ai você me pergunta: “Tamo junto! Mas como vou fazer esse evento acontecer na minha escola?”. É aí que eu entro ;)

p Vou começar a mandar pequenas missões por e-mail (e te cutucar pelo whatsapp) com tudo que você precisa saber para a organização ser divertida e fazer desse evento um sucesso! Então, aguarde e prepare-se! Vamos nos comunicar bastante, ok?

p Enquanto isso, vou perguntar umas coisinhas:
ul
  li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Já curtiu a página da nossa mobilização no facebook? Dá uma olhada lá: <link facebook>
  li Mandou seu e-mail hoje para a presidenta Dilma pedindo internet rápida?: #{ link_to 'http://www.internetnaescola.org/#pedido', 'http://www.internetnaescola.org/#pedido' }
  li E a sua escola, já entrou no Mapa da Conectividade? Faça o teste de velocidade: #{ link_to 'http://www.internetnaescola.org/#teste', 'http://www.internetnaescola.org/#teste' }

p Um grande abraço e até já!

p Liane Lira
p Campanha Internet na Escola
