p Olá, tudo bem?

p Eu sou o Gustavo Simon, da campanha #InternetNaEscola, e fiquei muito feliz em saber que você quer levar essa mobilização para a sua escola.

p O Dia da Conectividade vai acontecer em outubro. E vai ser lindo! Justamente porque vai acontecer ao mesmo tempo em várias escolas do Brasil. \o/

p Será o momento de juntar alunos, pais, professores, diretores e a sociedade em geral para chamar atenção para a precariedade da internet nas escolas públicas, que impossibilita o acesso a conteúdos educativos gratuitos e de qualidade que podem transformar a educação no Brasil.

p Juntos, vamos misturar cultura, internet e diversão para espalhar a nossa mensagem. E, para que você possa levar esse acontecimento para sua escola, vou te mandar orientações e materiais por e-mail (e te cutucar pelo Whatsapp, caso você prefira) com uma nova tarefa a ser realizada.

p Então, aguarde e se prepare. Em breve você vai receber suas missões!

p Enquanto isso, vou perguntar umas coisinhas:
ol
  li Já curtiu a página da nossa mobilização no Facebook? Dê uma olhada lá: #{ link_to 'https://www.facebook.com/internetnaescola', 'https://www.facebook.com/internetnaescola' }.
  li Mandou seu e-mail hoje para a presidenta Dilma pedindo internet rápida? #{ link_to 'http://www.internetnaescola.org/#pedido', 'http://www.internetnaescola.org/#pedido' }.
  li Sua escola já entrou no Mapa da Conectividade? Faça o teste de velocidade: #{ link_to 'http://www.internetnaescola.org/#teste', 'http://www.internetnaescola.org/#teste' }.

p Um grande abraço e até já!

p Gustavo Simon
p Campanha Internet na Escola
