p Olá, tudo bem?

p Eu sou a Liane Lira, da campanha #InternetNaEscola, e fiquei muito feliz em saber que você quer levar essa mobilização para a sua escola.

p O Dia da Conectividade está marcado para [dia] de [mês]. E vai ser lindo! Justamente porque vai acontecer ao mesmo tempo em várias escolas do Brasil. \o/

p Será o momento de juntar alunos, pais, professores, diretores e a sociedade em geral para chamar atenção para a precariedade da internet nas escolas públicas, que impossibilita o acesso à conteúdos educativos gratuitos e de qualidade que podem transformar a educação no Brasil.

p Juntos, vamos misturar cultura, internet e diversão para espalhar a nossa mensagem! E pra que você possa levar esse acontecimento para sua escola, vou te mandar orientações e materiais por e-mail (e te cutucar pelo whatsapp caso você prefira) com uma nova tarefa a ser realizada.

p Então, aguarde e prepare-se! Em breve você vai receber suas missões!

p Enquanto isso, vou perguntar umas coisinhas:
ul
  li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Já curtiu a página da nossa mobilização no facebook? Dá uma olhada lá: <link facebook>
  li Mandou seu e-mail hoje para a presidenta Dilma pedindo internet rápida?: #{ link_to 'http://www.internetnaescola.org/#pedido', 'http://www.internetnaescola.org/#pedido' }
  li E a sua escola, já entrou no Mapa da Conectividade? Faça o teste de velocidade: #{ link_to 'http://www.internetnaescola.org/#teste', 'http://www.internetnaescola.org/#teste' }

p Um grande abraço e até já!

p Liane Lira
p Campanha Internet na Escola
