p Oi #{@message.user.first_name},

p Quem disse que a gente não pode mudar a educação no nosso país?! Vamos começar garantindo uma internet rápida em todas as escolas.

p O seu pedido para a presidenta Dilma e para os Ministros foi enviado com sucesso. Agora, você pode compartilhar a página da nossa mobilização com os seus amigos para que mais gente se junte a nós: #{ link_to 'http://internetnaescola.org', 'http://internetnaescola.org' }

p Curioso pra saber como está a internet em sua escola? Você pode cumprir a 2º missão desse Desfio da Conectividade realizando o Teste de Velocidade. Assim, você vai nos ajudar a mapear a qualidade da internet na Educação do Brasil! É bem rápido e simples: #{ link_to 'http://www.internetnaescola.org/#teste', 'http://www.internetnaescola.org/#teste' }

p Liane Lira
p Campanha Internet na Escola
