p Oi #{@message.user.first_name},

p Quem disse que a gente não pode mudar a educação no nosso país?! Vamos começar garantindo uma internet rápida em todas as escolas.

p O seu recado para a presidenta Dilma foi enviado com sucesso. Agora, você pode compartilhar a página da nossa mobilização com os seus amigos para que mais gente se junte a esse coro:

p Curioso pra saber como está a internet em sua escola? Você pode cumprir a 2º missão dessa Corrida pela Conectividade realizando o Teste de Velocidade. E, assim, nos ajudar a mapear a qualidade da internet na Educação no Brasil! É bem rápido e simples: http://www.internetnaescola.org/#teste

p Liane Lira
p Campanha Internet na Escola
