= image_tag('header-dia-da-conectividade.png', class: 'py2')
p Oi #{@message.user.first_name},

p Quem disse que a gente não pode mudar a educação no nosso país? Vamos começar garantindo uma internet rápida em todas as escolas.

p O seu pedido para a presidenta Dilma e para os ministros foi enviado com sucesso. Agora, você pode compartilhar a página da nossa mobilização com os seus amigos para que mais gente se junte a nós: #{ link_to 'http://internetnaescola.org', 'http://internetnaescola.org' }.

p Curioso para saber como está a internet em sua escola? Você pode cumprir a 2ª missão deste Desafio da Conectividade realizando o Teste de Velocidade. Assim, vai nos ajudar a mapear a qualidade da internet na educação do Brasil. É bem rápido e simples: #{ link_to 'http://internetnaescola.org/#teste', 'http://internetnaescola.org/#teste' }.

p Um grande abraço,
