/* BASS Overrides */
$font-family: 'Source Sans Pro';

$gray: #8F8F8F;
$red: #FF5959;
$maroon: #943231;
$yellow: #F8E71C;
$orange: #786503;
$blue: #0D98C3;
$navy: #0C5C75;
$black: #223947;

$button-background-color: $red;
$field-focus-color: $blue;

@import 'basscss/basscss';

/* SLICK Overrides */
$slick-dot-color: white;
$slick-dot-size: $h4;

@import 'slick';
@import 'slick-theme';

/* App Styles */
@import 'parsley';
@import 'remodal';
@import 'fonts';
@import 'messages';

.pt3 { padding-top: 2rem; }
.lh2 { line-height: 2rem; }
.light { font-weight: 300; }
.field:required { border-color: $border-color; }
.field:required:focus { border-color: $field-focus-color; }

.popup-header { height: 3.3rem; }
.popup-header img { width: 5rem; }
.rounded { border-radius: 2rem; }
.stroke { border-width: 5px; }

/* Remodal */
.remodal { padding: 0; }
.remodal-close {
  color: white;
  left: auto;
  top: 0.6rem;
  right: 0.6rem;
}

/* Parsley validator */
ul.parsley-errors-list {
  margin: 0 0 0.5rem 0;

  li {
    background-color: $red;
    border-radius: 0 0 $border-radius $border-radius;
    color: white;
    font-size: $h6;
    overflow: hidden;
    padding: .5rem;
    text-align: left;
  }
}

/* Utility responsive classes */
@media #{$breakpoint-sm} {
  .sm-left-align { text-align: left !important; }
}

@media #{$breakpoint-md} {
  .md-left-align { text-align: left !important; }
  .md-inline { display: inline }
}

@media #{$breakpoint-lg} {
  .lg-left-align { text-align: left !important; }
}
