/* BASS Overrides */
$font-family: 'Source Sans Pro';

$gray: #8F8F8F;
$red: #FF5959;
$maroon: #943231;
$yellow: #F8E71C;
$orange: #786503;
$blue: #0D98C3;
$navy: #0C5C75;
$black: #223947;

$button-background-color: $red;
$field-focus-color: $blue;

@import 'basscss/basscss';

/* SLICK Overrides */
$slick-dot-color: white;
$slick-dot-size: $h4;

@import 'slick';
@import 'slick-theme';

/* App Styles */
@import 'fonts';
@import 'messages';

.pt3 { padding-top: 2rem; }
.light { font-weight: 300; }
.btn-primary.rounded { border-radius: 2rem; }
.field:required { border-color: $border-color; }
.field:required:focus { border-color: $field-focus-color; }
