@font-face {
  font-family: 'Source Sans Pro';
  src: font-url('SourceSansPro-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: font-url('SourceSansPro-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: font-url('SourceSansPro-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: font-url('SourceSansPro-Black.ttf');
  font-weight: 900;
  font-style: normal;
}
