.slide-cover {
  background: image-url('slide-cover-bg.png') top center;
  background-size: cover;

  .content {
    background: image-url('slide-cover-content.png') top center;
    background-size: cover;
  }
}

.slide-1 {
  background: image-url('slide-1-bg.png') top center;
  background-size: cover;
}

.slide-1 .items,
.slide-2 .items {
  height: 5rem;
}

.slide-4 {
  .pattern-1 {
    background: image-url('slide-4-pattern1.png') top center no-repeat;
  }

  .pattern-2 {
    background: image-url('slide-4-pattern2.png') top center no-repeat;
  }
}

.slide-5 {
  background: image-url('slide-5-bg.png') top center;
  background-size: cover;
}

h2.cta {
  line-height: 2rem;
  letter-spacing: 0.02rem;
  font-weight: normal;
}
