.slide-1 {
  background: image-url('slide-1-bg.png') top center;
.slide-cover {
  background: image-url('slide-cover-bg.png') top center;
  background-size: cover;

  .content {
    background: image-url('slide-1-cover.png') top center;
    background: image-url('slide-cover-content.png') top center;
    background-size: cover;
  }

  h2.cta {
    line-height: 2rem;
    letter-spacing: 0.02rem;
    font-weight: normal;
  }
}

.btn-primary.rounded {
  border-radius: 2rem;
}
